.Board {
  display: grid;
  
  grid-template-columns: repeat(3 ,1fr);
}
.GameSquare-card{
  display : flex;
  font-size: 90px;
  margin: 10px;
  width: 150px;
  height: 150px;
  background-color: red;
  flex-grow: 1;
  flex-shrink: 1;
  gap : 1rem;
 justify-content: center;
 align-items: center ;
}